@tailwind base;
@tailwind components;
@tailwind utilities;

  tbody {
  } 

  table {
    width: 100%;
  }
  thead {
    background-color: #f7f7f8;
  }
  th,
  td {
    vertical-align: middle;
  }
  th {
    padding: 20px 50px;
    font-weight: 600;
    text-align: left;
  }
  td {
    padding: 15px 50px;
  }
  tbody {
  }